@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: #27272a;
}

.scrollbar-hide::-webkit-scrollbar {
	display: none;
}
.scrollbar-hide {
	-ms-overflow-style: none;
	scrollbar-width: none;
}
